{% extends 'admin/dashboard.twig' %}

{% block title %} E-Learning- Create Course {% endblock %}

{% block css %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include 'templates/flash/flash.twig' %}
    <div class="box box-primary">
        <div class="box-header">
            <div class="form-group">
                <input data-on="<i class='fa fa-file-code-o'></i> Embed" data-off="<i class='fa fa-file'></i> File" type="checkbox" checked id="checkbox" data-toggle="toggle" data-target="#collapse3rdParty" aria-expanded="false" aria-controls="collapse3rdParty">
            </div>
        </div>
        <form id="courseForm" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="box-body">
                <div class="form-group">
                    <div class="col-lg-4">
                        <label for="title">Video Title</label>
                    </div>
                    <div class="col-lg-4">
                        <label for="url">Video</label>
                    </div>
                </div>
                    <div class="controls">
                        <div class="multi form-group">
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="title" name="title[]">
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control video" id="url" name="url_video[]">
                            </div>
                            <div class="col-xs-1">
                                <button type="button" class="btn btn-info addButton"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary btn-flat pull-right">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        $('#checkbox').change(function() {
            console.log(this.checked);
            $('.video').attr('type', this.checked ? 'text' : 'file');
        });
    </script>
    <script>
        $(document).on('click', '.addButton', function(e) {
            e.preventDefault();

            var controlForm = $('.controls'),
                currentEntry = $(this).parents('.multi'),
                newEntry = $(currentEntry.clone()).appendTo(controlForm);

                newEntry.find('input').val('');
                controlForm.find('.multi:last .addButton')
                        .removeClass('addButton').addClass('removeButton')
                        .removeClass('btn-info').addClass('btn-danger')
                        .html('<i class="fa fa-minus"></i>')
            }).on('click', '.removeButton', function(e) {
                $(this).parents('.multi').remove();

                e.preventDefault();
                return false;
        });
    </script>
{% endblock %}